#top-container {
  min-width: 100%;
}

#navbar {
  min-height: 0;
  margin-bottom: 0;
}

.navbar-left {
  margin-left: 10px;
}

#tabs {
  background: #fafafa;
  border: 1px solid #b3b3b3;
  border-top: none;
}

#tabs .tab-pane {
  padding: 10px;
  padding-top: 20px;
}

#tabs .tab-pane .panel-default>.panel-heading {
  background: #eaeaea;
}


.keyboard .key {
  float: left;
  text-align: center;
  position: relative;
}

.keyboard .key span {
  height: 100%;
  line-height: 45px;
}

.keyboard .white.key {
  background: #fff;
  color: #000;
  outline: 1px solid #aaa;
  width: 11.1%;
  height: 100px;
}

.keyboard .white.key span {
  position: relative;
  top: 55px;
}

.keyboard .black.key {
  height: 55px;
  width: 8%;
  margin-right: -8%;
}

.keyboard .black.key span {
  background: #111;
  color: #fff;
  outline: 1px solid #000;
  position: absolute;
  top: 0;
  width: 100%;
  left: -50%;
  line-height: 50px;
  z-index: 2;
}


#messages-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
}

#tonnetz {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.labels > div {
  position: absolute;
}

.labels > div > div {
  margin-left: -50%;
  line-height: 1em;
  margin-top: -0.4em;
}

#note-labels {
  color: #aaaaaa;
}

#note-labels .state-ON , #note-labels .state-GHOST{
  color: #ffffff;
}

#note-labels .state-SUSTAIN {
  color: #d1dbf0;
}

#triad-labels {
  color: #c0c0c0;
}

#triad-labels .major.state-ON {
  color: #bea866;
}

#triad-labels .minor.state-ON {
  color: #aa9b68;
}


.navbar-default {
  background-color: #2d58b2;
  border-color: #1c469d;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-text {
  color: #ccddff;
}
.navbar-default .navbar-nav > li > a {
  color: #ccddff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecf0f1;
  background-color: #1c469d;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecf0f1;
  background-color: #1c469d;
}
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus {
  border: none;
  background-color: transparent;
}
.navbar-default .navbar-toggle:hover {
  border: none;
  background-color: #1c469d;
}
.navbar-default .navbar-toggle .icon-bar {
  border: none;
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #b6ceff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b6ceff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b6ceff;
    background-color: #1c469d;
  }
}
